@font-face {
  font-family: "Josefin Sans";
  src: url("./JosefinSans-Bold.ttf");
}

* {
  font-family: "Josefin Sans";
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(71, 71, 71, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(71, 71, 71, 0.6);
  outline: 0 none;
  border: 0;
}

.masthead-p {
  font-size: 8.7vw;
  color: rgb(255, 255, 255);
  text-shadow: #343A40 0px 0px 10px;
}

.masthead {
  height: 100vh;
  background-image: url('../pictures/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}