.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#fixed-bottom {
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);
}

@media screen and (max-width: 660px) {
    #messenger {
        display: none;
        position: fixed;
        top: 54vh;
        left: 29vw;
        width: 70vw;
        height: 45vh;
        max-height: 45vh;
    }
}

@media screen and (min-width: 660px) {
    #messenger {
        display: none;
        position: fixed;
        top: 54vh;
        left: calc(100vw - 475px);
        width: 450px;
        height: 45vh;
        max-height: 45vh;
    }
}

.middle {
    vertical-align: middle;
}

#cross {
    float: right;
    cursor: pointer;
}

#discuss-head {
    position: sticky;
    top: 0;
}

.notifMsg {
    display: none;
    position: relative;
    left: 50px;
    top: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}