@media screen and (min-width: 660px) {
    #notif {
        display: none;
        position: fixed;
        top: 60px;
        left: calc(100vw - 475px);
        width: 450px;
        height: 40vh;
        max-height: 40vh;
    }
}

@media screen and (max-width: 660px) {
    #notif {
        display: none;
        position: fixed;
        top: 60px;
        left: 29vw;
        width: 70vw;
        height: 40vh;
        max-height: 40vh;
    }
}

.middle {
    vertical-align: middle;
}

#cross {
    float: right;
}

#notif-head {
    position: sticky;
    top: 0;
}

.btn-notif {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}