#form-bg {
    height:40px
}
  
#progressBar {
    width:33%;
}

#check-sam-2:hover {
    background-color: rgb(78, 78, 78);
}

#check-sam-2 {
    padding: 5% 10% 5% 10%;
    margin-left: 1%;
    margin-right: 1%;
}

#check-sam-1:hover {
    background-color: rgb(78, 78, 78);
}

#check-sam-1 {
    padding: 5% 10% 5% 10%;
    margin-left: 1%;
    margin-right: 1%;
}

#rad-sam-1:hover {
    background-color: rgb(78, 78, 78);
}

#rad-sam-1 {
    padding: 5% 10% 5% 10%;
    margin-left: 1%;
    margin-right: 1%;
}

#rad-sam-2:hover {
    background-color: rgb(78, 78, 78);
}

#rad-sam-2 {
    padding: 5% 10% 5% 10%;
    margin-left: 1%;
    margin-right: 1%;
}

input[type=checkbox] {
    position: absolute;
    left: -999999px;
}

input[type=checkbox]:checked + label {
    background-color: rgb(78, 78, 78);
}

input[type=radio] {
    position: absolute;
    left: -999999px;
}

input[type=radio]:checked + label {
    background-color: rgb(78, 78, 78);
}

.font-sam {
    font-family: "Josefin Sans";
}

.select-sam {
    width: 33%;
    text-align-last: center;
    height: 35px;
}

#second, #third, #final {
    display: none;
}