<nav class="navbar navbar-expand navbar-light bg-light shadow fixed-top" id="navbar">
    <a class="navbar-brand" routerLink="/">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Matcha
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item" ></li>
        </ul>
    </div>
    <a routerLink="auth" class="nav-link text-light btn btn-sm btn-dark">CONNEXION</a>
</nav>
<router-outlet></router-outlet>