<br><br><br>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-6 col-lg-3 mt-2">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/268/180" alt="Card image cap">
                <div class="card-body">
                    <a routerLink="/" class="text-dark"><h5 class="card-title">Florian</h5></a>
                    <p class="card-text">31 ans - Bruxelles</p>
                    <a routerLink="/" class="btn btn-danger btn-circle btn-lg text-light mx-2"><i class="far fa-heart"></i></a>
                    <a routerLink="/" class="btn btn-primary btn-circle btn-lg text-light mx-2"><i class="far fa-comments"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-2">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/268/180" alt="Card image cap">
                <div class="card-body">
                    <a routerLink="/" class="text-dark"><h5 class="card-title">Florian</h5></a>
                    <p class="card-text">31 ans - Bruxelles</p>
                    <a routerLink="/" class="btn btn-danger btn-circle btn-lg text-light mx-2"><i class="far fa-heart"></i></a>
                    <a routerLink="/" class="btn btn-primary btn-circle btn-lg text-light mx-2"><i class="far fa-comments"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-2">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/268/180" alt="Card image cap">
                <div class="card-body">
                    <a routerLink="/" class="text-dark"><h5 class="card-title">Florian</h5></a>
                    <p class="card-text">31 ans - Bruxelles</p>
                    <a routerLink="/" class="btn btn-danger btn-circle btn-lg text-light mx-2"><i class="far fa-heart"></i></a>
                    <a routerLink="/" class="btn btn-primary btn-circle btn-lg text-light mx-2"><i class="far fa-comments"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-2">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/268/180" alt="Card image cap">
                <div class="card-body">
                    <a routerLink="/" class="text-dark"><h5 class="card-title">Florian</h5></a>
                    <p class="card-text">31 ans - Bruxelles</p>
                    <a routerLink="/" class="btn btn-danger btn-circle btn-lg text-light mx-2"><i class="far fa-heart"></i></a>
                    <a routerLink="/" class="btn btn-primary btn-circle btn-lg text-light mx-2"><i class="far fa-comments"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>