.messages {
	flex: 1 1 100%;
	box-sizing: border-box;
	align-self: flex-end;
	max-height: calc(100vh - 310px);
	overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

@media screen and (min-width: 1000px) {
    .form {
        position: fixed;
        top: calc(100vh - 200px);
        width: 72%;
    }
}

@media screen and (max-width: 1000px) {
    .form {
        position: fixed;
        top: calc(100vh - 200px);
        width: 95%;
    }
}