.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#fixed-bottom {
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);
}

#messenger {
    display: none;
    position: fixed;
    top: calc(100vh - 430px);
    left: calc(100vw - 475px);
    width: 450px;
}

.middle {
    vertical-align: middle;
}

#cross {
    float: right;
}