p {
    font-size: 8.7vw;
    -webkit-text-stroke: 0.15vw;
    -webkit-text-stroke-color: rgba(82, 82, 82, 0.281);
}

.masthead {
    height: 100vh;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}