<header class="masthead">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="font-weight-bold text-light">
            <p>Matchez. Discutez.</p>
            <p>Faites des rencontres.</p>
            <a routerLink="sign" class="btn btn-lg btn-dark">INSCRIPTION</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h4 class="font-weight-light">Nos derniers membres inscrits</h4>
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/839586/pexels-photo-839586.jpeg">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg">
        </div>
    </div>
  </div>
</section>